# Python Cache
__pycache__/
*.pyc

# Temporary output files
*.swp
*.swo
*.txt
*.out

# Files for MacOS and IDEs
.DS_store
.idea/
cmake-build-*/
.ipynb_checkpoints/

# Generated SAM Graphs
*.gv

# Generated images
*.svg
*.png
*.pdf

# Output data files
*.csv
*.json

# Generated folders
build/
logs/
results/
results-cpu/
suitesparse-bench/
sam-outputs/
compiler/benchmark/

# Generated SAM simulator tests
*/sim/test/apps/test_*.py


