# Python Cache
__pycache__/
*.pyc

# Temporary output files
*.swp
*.swo
*.txt
*.out
download_suitesparse_partial.sh

# Files for MacOS and IDEs
.DS_store
.idea/
cmake-build-*/
.ipynb_checkpoints/

# Generated SAM Graphs
*.gv

# Generated images
*.svg
*.png
*.pdf

# Output data files
*.csv
*.json

# Generated folders
build/
logs/
results/
results-cpu/
suitesparse-bench/
sam-outputs/
compiler/benchmark/

# Generated SAM simulator tests
*/sim/test/apps/test_*.py

# Generated SAM graphs
*.gv

# Downloaded data
*.mtx
*.tns

# Temporary matrices
tmp_mat*/

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Generated formatted tensor files
tensor_*_mode_*

# Tiling files
tiles/

# sam package info
sam.egg-info/

