__pycache__/
*.pyc

*.swp
*.swo

*.txt
*.out

.DS_store
.idea/
.ipynb_checkpoints

*.png
*.pdf
*.svg

*.csv
*.json

build/
logs/
results/
results-cpu/
suitesparse-bench/
sam-outputs/
compiler/benchmark/
cmake-build-*/

*.egg-info

*.gv

tensor_*_mode_*
